/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}

/*body{
  margin: 0;
  background-image: url(../public/image/bank.png);
    background-repeat: no-repeat;
}*/

.login{
  padding-top: 10px;
  width: 350px;
  height: 210px;
  background-color: #3399FF;
  border-radius: 6px;
  margin-top: 80px;
 
}


.login h2{
  color: rgb(0, 0, 139);
}

.login-title{
  color: rgb(0, 0, 139);
  margin-bottom: 7px;
  font-weight: bold;

}

.title-bank-login{
  justify-content: center;
  display: flex;
}

.input-login{
  margin-top: 3px;
 margin-bottom: 5px;
 border-radius: 3px;
 border-style: none;
 height: 22px;
}

.login-btn{
  margin-top: 5px;
  border-radius: 4px;
  border-style: none;
  background-color: rgb(224, 224, 234);
  color: rgb(0, 0, 139);;
  height: 25px;
  font-weight: 600;
  width: 100px;
  text-align: center;
}

.login-btn:hover{
  background-color: #2676c6;
  color: aliceblue;
}

.login-error-message{
  color: rgb(185, 11, 46);
  font-size: 13px;
  font-weight:300;
  text-align:left;
  padding-left: 90px;
  padding-bottom: 5px;
  
}

.registration-error-message {
  color: rgb(185, 11, 46);
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  padding-left: 90px;

}

.new-client-btn{
  margin-top: 12px;
  width: 350px;
  border-radius: 4px;
  border-style: none;
  height: 30px;
  background-color: #3399FF;
}

.registration-form{
  margin-top: 2%;
  width: 500px;
  background-color: rgb(223, 229, 234);
  text-align: center;
  border-radius: 3px;
  padding-top: 2%;
  height: 95%;
}

.registration-form-input {
  height: 35px;
  width: 80%;
  background-color:rgb(230, 230, 212);
  margin: 5px;
  border-radius: 3px;
  border-style:groove;
  
}

.registration-form-input:hover{
  background-color: rgb(220, 220, 203);
  font-weight: 1000;
  font-size: medium;
}

.registration-btn{
    background-color: #2676c6;
    color: aliceblue;
    border-radius: 3px;
    border-style: none;
    font-size: 15px;
    padding: 3px;
    margin:10px;
    width: 80%;
}

.registration-btn:hover{
  background-color: #14579a;
  color: aliceblue;
  font-size: 17px;
}

.input-login-registration {
  margin-top: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  
  height: 22px;
  background-color: rgb(230, 230, 212);
}

.navbar { 
  padding-left: 10px;
  height: 80px;
  display: flex;
  align-items: stretch;
  background-color: rgb(15, 169, 221);
  gap: 2rem;
  padding: 0 1rem; 
  justify-content: space-between;
}
 
.navbar h1 {
  color:rgb(0, 0, 139)
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  padding: .25rem;
  height: 100%;
  display: flex;
  align-items: center; 
  color: inherit; 
}

.h1Bank{
  color: rgb(25, 25, 112);
  font-weight: 300;
}


.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}


.navbar li.active{
   color: white;
    background-color: rgb(45, 127, 154);
    height: 99%;
}

.navbar a:hover {
  color: white;
  background-color:rgb(45, 127, 154);
  height: 100%;
  
}

.container{
  display: flex;
  text-align: center;
  background-image: url(../public/image/bank.png);
  background-repeat: no-repeat;
  justify-content: center;
  height: 720px;
}

.footer{
  background-color: rgb(15, 169, 221);
  
  height: 150px;
  text-align: center;
  align-items: center;
  display:grid;
}

.test{
  color: #14579a;
  
}