/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}

/*body{
  margin: 0;
  background-image: url(../public/image/bank.png);
    background-repeat: no-repeat;
}*/

.login{
  padding-top: 30px;
  width: 350px;
  height: 150px;
  background-color: #3399FF;
  border-radius: 6px;
 margin-top: 40px;

}

.loginInput{
 padding: 30px;
}
.img{
  filter: blur(3px);
  
}

.navbar { 
  padding-left: 10px;
  height: 80px;
  display: flex;
  align-items: stretch;
  background-color: rgb(15, 169, 221);
  gap: 2rem;
  padding: 0 1rem; 
  justify-content: space-between;
}
 
.navbar h1 {
  color:rgb(0, 0, 139)
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  padding: .25rem;
  height: 100%;
  display: flex;
  align-items: center; 
  color: inherit; 
}

.h1Bank{
  color: rgb(25, 25, 112);
  font-weight: 300;
}


.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}


.navbar li.active{
   color: white;
    background-color: rgb(45, 127, 154);
    height: 99%;
}

.navbar a:hover {
  color: white;
  background-color:rgb(45, 127, 154);
  height: 100%;
  
}

.container{
  display: flex;
  text-align: center;
  background-image: url(../public/image/bank.png);
  background-repeat: no-repeat;
  justify-content: center;
  height: 600px;
}

.footer{
  background-color: rgb(15, 169, 221);
  
  height: 150px;
  text-align: center;
  align-items: center;
  display:grid;
}